body {
    background-image: url("foodie.jpg");
}

#brandname, #searchform, #userSname, #subbtn {
    font-family: 'McLaren', cursive;
}

#word {
    margin: auto;
    font-family: 'McLaren', cursive;
    color: white;
    padding: 8px;
    font-size: 40px;
}

#login, #logout, #signup {
    text-decoration: none;
    color: white;
    padding: 8px;
    font-size: 25px;
    font-family: 'McLaren', cursive;
}

.card, #card-top {
    background-color: rgba(255, 237, 197, 0.788);
    border-radius: 25px;
    color: black;
    padding: 20px;
    -webkit-box-shadow: 1px -1px 13px -4px rgba(0, 0, 0, 0.849);
    -moz-box-shadow: 1px -1px 13px -4px rgba(0,0,0,0.75);
    box-shadow: 1px -1px 13px -4px rgba(0, 0, 0, 0.877);
}

#carousel {
    text-align: left;
}

